@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:wght@600;700;800&display=swap");
@import "/fonts/Georgia/stylesheet.css";
body {
  font-family: "Open Sans", sans-serif;
  background-color: #FFFFFF;
  color: #212121;
  overflow-x: hidden;
}

.container {
  max-width: 1210px;
  padding: 0 30px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

.title {
  font-weight: 800;
  font-size: 45px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #A65E34;
}
@media (max-width: 428px) {
  .title {
    font-size: 26px;
  }
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 0 50px;
}
@media (max-width: 428px) {
  .header-top {
    padding: 40px 0 0 0;
    align-items: flex-start;
  }
}
.header-top__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
@media (max-width: 428px) {
  .header-top__contacts {
    row-gap: 6px;
  }
}
.header-top__tel {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.36;
  letter-spacing: 0.2px;
  color: #A65E34;
}
@media (max-width: 428px) {
  .header-top__tel {
    font-size: 16px;
  }
}
@media (max-width: 428px) {
  .header-top {
    column-gap: 104px;
  }
}

.header-content {
  padding: 50px 0 208px;
  position: relative;
  z-index: 1;
}
@media (max-width: 428px) {
  .header-content {
    padding: 40px 0 350px 0;
  }
}
.header-content::before {
  content: "";
  display: block;
  width: 836px;
  height: 689px;
  background: url(/img/header/header-bg-2.png) bottom right no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0px;
  right: -388px;
  z-index: -1;
}
@media (max-width: 428px) {
  .header-content::before {
    width: 395px;
    height: 395px;
    bottom: -65px;
    right: -65px;
  }
}
.header-content::after {
  content: "";
  display: block;
  width: 486px;
  height: 800px;
  background: url(/img/header/header-bg-1.png) bottom right no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -110px;
  right: 30px;
  z-index: -1;
}
@media (max-width: 428px) {
  .header-content::after {
    width: 251px;
    height: 416px;
    bottom: -85px;
    left: -35px;
  }
}
.header-content__info {
  max-width: 650px;
}
.header-content__title {
  margin-bottom: 31px;
  font-family: "Georgia", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.13;
  letter-spacing: 1.02664px;
  text-transform: uppercase;
  color: #A65E34;
}
@media (max-width: 428px) {
  .header-content__title {
    font-size: 25px;
  }
}
.header-content__btn {
  display: flex;
  justify-content: space-between;
}
.header-content__about {
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 32px;
}
@media (max-width: 428px) {
  .header-content__about {
    margin-top: 40px;
    row-gap: 16px;
    column-gap: 30px;
  }
}
.header-content__about-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.header-content__about-item-img {
  width: 46px;
  height: 46px;
}
.header-content__about-item-img img {
  display: block;
  margin: 0 auto;
}
.header-content__about-item-desc p {
  width: 240px;
  font-family: "Georgia", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.13;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #A65E34;
}
@media (max-width: 428px) {
  .header-content__about-item-desc p {
    font-size: 13px;
  }
}

.button {
  display: inline-block;
  background-color: #A65E34;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.2s ease-out, transform 0.1s ease-out;
}
.button--tel {
  padding: 11px 15px;
  font-size: 15px;
  line-height: 1.333;
  letter-spacing: 0.46px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;
}
.button--tel::after {
  content: "";
  display: block;
  width: 16.5px;
  height: 16px;
  background-image: url(/img/header/header-icons/tel.svg);
  background-repeat: no-repeat;
}
@media (max-width: 428px) {
  .button--tel {
    width: 122.5px;
    font-size: 9px;
    padding: 6px 7px;
  }
}
.button--proposition {
  padding: 16px 15px;
  width: 237px;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.373707px;
}
@media (max-width: 428px) {
  .button--proposition {
    width: 166px;
    padding: 11px 32px;
  }
}
.button--card-products {
  padding: 11px 0;
  width: 142px;
}
.button--form-order {
  width: 361px;
  height: 87px;
  padding: 24px 0;
  font-size: 28px;
  line-height: 1.39;
  letter-spacing: 0.546644px;
}
@media (max-width: 428px) {
  .button--form-order {
    height: 45px;
    padding: 11px 0;
    font-size: 16px;
  }
}
.button--hide {
  display: none;
  width: 166px;
  padding: 11px 10px;
  font-size: 12px;
}
@media (max-width: 428px) {
  .button--hide {
    display: block;
  }
}
.button:hover {
  background-color: #D28E67;
}
.button:active {
  transform: translateY(1px);
}
.button--free-products {
  background-color: #D28E67;
  padding: 24px 69px;
  font-size: 28px;
  line-height: 1.39;
  letter-spacing: 0.546644px;
}
.button--free-products:hover {
  background-color: #A65E34;
}
@media (max-width: 428px) {
  .button--free-products {
    width: 166px;
    padding: 11.5px 18.5px;
    font-size: 12px;
  }
}

.button__catalog {
  display: inline-block;
  padding: 17px 43px 18px 43px;
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: 0.4px;
  background-color: transparent;
  color: #A65E34;
  border: 3.5px solid #A65E34;
  text-decoration: none;
  transition: background-color 0.1s ease-out, transform 0.1s ease-out, color 0.2s ease-out;
}
.button__catalog:hover {
  background-color: #A65E34;
  color: #ffffff;
}
.button__catalog:active {
  transform: translateY(1px);
}
@media (max-width: 428px) {
  .button__catalog {
    width: 166px;
    padding: 11.5px 14.5px;
    border: 1.7754px solid #A65E34;
    font-size: 12px;
  }
}

.header {
  overflow: hidden;
  background-color: #F0F1F6;
}

.proposition {
  padding: 114px 0 200px;
}
@media (max-width: 428px) {
  .proposition {
    padding: 104px 0 110px;
  }
}
.proposition__heading {
  margin-bottom: 73px;
}
@media (max-width: 428px) {
  .proposition__heading {
    margin-bottom: 53px;
  }
}
.proposition__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.proposition__card {
  text-align: center;
}
.proposition__card-img {
  margin-bottom: 33px;
}
@media (max-width: 428px) {
  .proposition__card-img {
    margin-bottom: 21px;
  }
}
.proposition__card-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.173374px;
  text-transform: uppercase;
  color: #A65E34;
  margin-bottom: 16px;
}
@media (max-width: 428px) {
  .proposition__card-title {
    font-size: 22px;
    margin-bottom: 14px;
  }
}

.free-products {
  padding: 86px 0;
  color: #FFFFFF;
  background-blend-mode: multiply;
  background-color: rgba(32, 31, 31, 0.6);
  background-image: url(/img/free-products/free-product.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 428px) {
  .free-products {
    padding: 64px 0 65px;
    background-image: url(/img/free-products/bg-mobile.jpg);
  }
}
.free-products__content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 428px) {
  .free-products__content {
    max-width: 345px;
  }
}
.free-products__title {
  font-weight: 800;
  font-size: 45px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.free-products__title span {
  color: #FFB359;
}
@media (max-width: 428px) {
  .free-products__title {
    font-size: 22px;
    margin-bottom: 6px;
  }
}
.free-products__desc {
  margin-bottom: 65px;
  font-size: 23px;
  line-height: 1.347;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
@media (max-width: 428px) {
  .free-products__desc {
    font-size: 10px;
    margin-bottom: 16px;
  }
}

.card-product {
  max-width: 360px;
  background: #E9E7E7;
  padding: 30px 26px 25px 26px;
}
.card-product__img {
  margin-bottom: 11px;
}
.card-product__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 0.147962px;
  text-transform: uppercase;
  color: #A65E34;
}
.card-product__desc {
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.card-product__desc p {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.41;
  letter-spacing: 0.147962px;
  text-transform: uppercase;
  color: #7A7A7A;
}
.card-product__order {
  display: flex;
  align-items: center;
  column-gap: 19px;
}
.card-product__price {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.35;
  letter-spacing: 0.147962px;
  text-transform: uppercase;
  color: #A65E34;
}

.products-card {
  padding: 200px 0;
}
.products-card__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
  row-gap: 36px;
}
@media (max-width: 428px) {
  .products-card {
    padding: 100px 0;
  }
}

.form-order {
  display: flex;
  align-items: flex-end;
  column-gap: 30px;
}
@media (max-width: 428px) {
  .form-order {
    flex-direction: column;
    row-gap: 17px;
  }
}
.form-order__label {
  display: block;
  margin-bottom: 12px;
}
.form-order__input {
  width: 361px;
  height: 87px;
  background: #FFFFFF;
  padding: 24px 21px;
  font-size: 28px;
  line-height: 1.39;
}
@media (max-width: 428px) {
  .form-order__input {
    height: 45px;
    font-size: 18px;
    padding: 10px 10px;
  }
}

.products-order {
  padding: 94px 0 121px;
  position: relative;
  z-index: 1000;
  background-blend-mode: normal;
  background: linear-gradient(90.24deg, #F0F1F6 45.32%, rgba(217, 217, 217, 0) 90.67%), url(/img/product-order/bg.jpg) 710px 0px no-repeat;
  background-size: cover;
}
@media (max-width: 428px) {
  .products-order {
    padding: 29px 0 32px;
    background: linear-gradient(90.24deg, #F0F1F6 70.32%, rgba(217, 217, 217, 0) 106.67%), url(/img/product-order/bg-mobile.jpeg) 200px 0 no-repeat;
    background-size: contain;
  }
}
.products-order__content {
  max-width: 755px;
}
.products-order__heading {
  margin-bottom: 10px;
}
.products-order .products-order__title {
  font-family: "Georgia", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.13;
  letter-spacing: 1.04574px;
  text-transform: uppercase;
  color: #A65E34;
}
@media (max-width: 428px) {
  .products-order .products-order__title {
    font-size: 22px;
  }
}

.about {
  padding: 192px 0 256px;
}
.about__row {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.about__item-left {
  max-width: 558px;
}
.about__item-right {
  max-width: 597px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.about__title {
  font-family: "Georgia", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.14;
  letter-spacing: 1.13882px;
  text-transform: uppercase;
  color: #A65E34;
  margin-bottom: 6px;
}
.about__desc p {
  font-size: 21px;
  line-height: 1.19;
  letter-spacing: 0.207607px;
  color: #424242;
}
.about__info {
  display: flex;
  align-items: center;
  column-gap: 33px;
}
.about__info-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}
.about__info-title {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22.7698px;
  line-height: 1.156;
  letter-spacing: 0.252997px;
  color: #262626;
}

.about__bottom {
  margin-top: 140px;
}
.about__bottom-wrapper {
  display: flex;
  justify-content: space-between;
}
.about__bottom-item .about__bottom-title--width {
  width: 298px;
  text-align: left;
}
.about__bottom-item span {
  margin-top: 3px;
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20.1037px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.251296px;
  color: #212121;
}
.about__bottom-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 30.1555px;
  line-height: 36px;
  letter-spacing: 0.251296px;
  color: #A65E34;
  text-align: center;
}

.products-guests {
  padding: 88px 0 79px;
  background: #EAEAEB;
  width: 100%;
}
.products-guests__content {
  max-width: 945px;
  margin: 0 auto;
}
.products-guests__heading {
  text-align: center;
  margin-bottom: 33px;
}
.products-guests__heading p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.2px;
  color: #212121;
}
.products-guests__title {
  max-width: 920px;
  font-weight: 800;
  font-size: 50px;
  line-height: 1.1;
  letter-spacing: 0.2px;
  color: #A65E34;
  margin-bottom: 29px;
}
.products-guests__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-guests__patern {
  position: relative;
  z-index: 10;
}
.products-guests__patern::before, .products-guests__patern::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 20;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 18.2235px 45.5588px rgba(0, 0, 0, 0.1));
}

.products-guests__patern--top::before {
  width: 423px;
  height: 447px;
  background-image: url(/img/products-guests/patern-1.png);
  top: -187px;
  left: -400px;
}
.products-guests__patern--top::after {
  width: 599px;
  height: 728px;
  background-image: url(/img/products-guests/patern-2.png);
  top: -230px;
  right: -650px;
}

.products-guests__patern--bottom::before {
  width: 517px;
  height: 412px;
  background-image: url(/img/products-guests/patern-3.png);
  bottom: -210px;
  left: -540px;
}
.products-guests__patern--bottom::after {
  width: 523px;
  height: 430px;
  background-image: url(/img/products-guests/patern-4.png);
  top: -200px;
  right: -580px;
}

.reviews {
  padding: 184px 0 92px;
}

.reviews__heading {
  margin-bottom: 81px;
}

.slider {
  min-height: 300px;
  position: relative;
}
.slider__item {
  padding: 56px 40px 30px 40px;
  max-width: 558px;
  background-color: #F0F0F0;
  border: 2px solid #A65E34;
  text-align: center;
}

.slide {
  margin-top: 20px;
}
.slide__symbol {
  position: absolute;
  top: -134px;
  left: 50%;
  transform: translateX(-50%);
}
.slide__symbol p {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 171px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.762152px;
  text-transform: uppercase;
  color: #A65E34;
}
.slide__rank {
  margin-bottom: 19px;
}
.slide__rank ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}
.slide__text {
  margin-bottom: 32px;
}
.slide__text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.246957px;
  color: #212121;
}
.slide__img {
  width: 40px !important;
  height: 40px !important;
  margin: 0 auto;
}
.slide__name {
  display: block;
  margin-top: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #757575;
}

.owl-prev {
  position: absolute;
  left: -78px;
  top: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.owl-prev:hover {
  opacity: 0.8;
}

.owl-next {
  position: absolute;
  right: -152px;
  top: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.owl-next:hover {
  opacity: 0.8;
}

.partners {
  padding: 92px 0 75px;
}
.partners__heading {
  margin-bottom: 41px;
}
.partners__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 70px;
  row-gap: 17px;
}

.production-capacity {
  padding: 75px 0 88px;
}
.production-capacity__heading {
  margin-bottom: 79px;
}
.production-capacity__row {
  display: flex;
  column-gap: 26.3px;
}
.production-capacity__item {
  display: flex;
  flex-direction: column;
  row-gap: 26.3px;
}

.founder {
  padding: 88px 0 190px;
}

.founder__row {
  display: flex;
  align-items: center;
}

.founder__text {
  max-width: 550px;
  position: relative;
}

.founder__desc {
  width: 594px;
  background: #F1F1F1;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15);
  padding: 40px 50px 50px 55px;
  position: absolute;
  top: 90px;
  left: -40px;
}
.founder__desc p {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #757575;
}

.founder__symbol {
  position: absolute;
  top: -295px;
  right: -20px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 314px;
  line-height: 357px;
  letter-spacing: 1.3969px;
  text-transform: uppercase;
  color: #A65E34;
}

.founder__name {
  padding-top: 530px;
  margin-left: 56px;
}
.founder__name p {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #757575;
  margin-top: 5px;
}
.founder__name span {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #757575;
}

.footer {
  padding: 100px 0;
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copy {
  display: flex;
  column-gap: 36px;
}
.footer__copy li a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #212121;
  transition: color 0.2s ease-out;
}
.footer__copy li a:hover {
  color: #A65E34;
}
.footer__icons {
  display: flex;
  align-items: center;
  column-gap: 15px;
  transition: opacity 0.2s ease-out;
}
.footer__icons:hover a {
  opacity: 0.8;
}

.fade-block {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 43, 43, 0.75);
  z-index: 1000;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  text-align: center;
  max-width: 462px;
  min-height: 350px;
  padding: 25px;
  background: #FFFFFF;
  box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.3);
}
.card__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.36;
  color: #A65E34;
  margin-bottom: 10px;
}
.card .card__desc p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}

.card-tel {
  max-width: 400px;
  min-height: 250px;
  border-radius: 10px;
}

.form--modal .form-order__desc p {
  font-weight: 600;
  font-size: 14px;
  color: #212121;
  margin-bottom: 10px;
}
.form--modal .form-order__input {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 40px;
  padding: 10px 12px;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #000000;
  margin-bottom: 10px;
}
.form--modal .button--form-order {
  width: 80%;
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form--modal .form-order__checkbox-text {
  margin-top: 10px;
  display: flex;
  column-gap: 8px;
  padding: 0 40px;
}
.form--modal .form-order__checkbox-text p {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: #000000;
  line-height: 1.2;
}

/*# sourceMappingURL=main.css.map */
