@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:wght@600;700;800&display=swap');
@import "/fonts/Georgia/stylesheet.css";

// font-family: 'Inter', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Georgia', sans-serif;

body {
   font-family: 'Open Sans', sans-serif; 
   background-color: $background-color1;
   color: $color3;
   overflow-x: hidden;
}

.container {
    max-width: $containerPage;
    padding: 0 30px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.no-scroll {
    overflow-y: hidden;
}

.title {
    font-weight: 800;
    font-size: 45px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: $color-primary;
}