// Fonts 
$font1: 'Inter', sans-serif;
$font2: 'Georgia', sans-serif;

// Container
$containerPage: 1210px;

// Background-color 
$background-color1: #FFFFFF;
$background-color2: #F0F1F6;
$background-color3: #EAEAEB;


// Color
$color-primary: #A65E34;
$color1: #FFFFFF;
$color2: #262626;
$color3: #212121;
$color4: #424242;
$color5: #757575;
$color6: #A2A2A2;
$color7: #FFB359;

// Text
$color-title: #A65E34;
$color-text-card: #7A7A7A;


// Buttons
$color-bg-btn1: #A65E34;
$color-bg-btn2: #D28E67;
$color-text-btn: #ffffff;