.button {
    display: inline-block;
    background-color: $color-bg-btn1;
    color: $color-text-btn;
    font-weight: 600;

    text-align: center;

    transition: background-color .2s ease-out, transform .1s ease-out;


    &--tel {
        padding: 11px 15px;
        font-size: 15px;
        line-height: 1.333;
        letter-spacing: 0.46px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 7px;

        &::after {
            content: "";
            display: block;
            width: 16.5px;
            height: 16px;
            background-image: url(/img/header/header-icons/tel.svg);
            background-repeat: no-repeat;
        }

        @media (max-width:428px) {
            width: 122.5px;
            font-size: 9px;
            padding: 6px 7px;
        }
    }

    &--proposition {
        padding: 16px 15px;
        width: 237px;
        font-size: 20px;
        line-height: 1.35;
        letter-spacing: 0.373707px;

        @media (max-width: 428px) {
            width: 166px;
            padding: 11px 32px;
        }
    }


    &--card-products {
        padding: 11px 0;
        width: 142px;
    }


    &--form-order {
        width: 361px;
        height: 87px;
        padding: 24px 0;
        font-size: 28px;
        line-height: 1.39;
        letter-spacing: 0.546644px;

        @media (max-width: 428px) {
            height: 45px;
            padding: 11px 0;
            font-size: 16px;
        }
    }

    &--hide {
        display: none;
        width: 166px;
        padding: 11px 10px;
        font-size: 12px;

        @media (max-width:428px) {
            display: block;
        }
    }
 
    &:hover {
        background-color: $color-bg-btn2;
    }

    &:active {
        transform: translateY(1px);
    }

    &--free-products {
        background-color: $color-bg-btn2;
        padding: 24px 69px;
        font-size: 28px;
        line-height: 1.39;
        letter-spacing: 0.546644px;

        &:hover {
            background-color: $color-bg-btn1
        }

        @media (max-width: 428px) {
           width: 166px;
           padding: 11.5px 18.5px;
           font-size: 12px;
        }
    }
}




.button__catalog {
    display: inline-block;
    padding: 17px 43px 18px 43px;
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: 0.4px;
    background-color: transparent;
    color: $color-primary;
    border: 3.5px solid $color-primary;
    text-decoration: none;

    transition: background-color .1s ease-out, transform .1s ease-out, color .2s ease-out;

    &:hover {
        background-color: $color-bg-btn1;
        color: $color-text-btn;
    }

    &:active {
        transform: translateY(1px);
    }

    @media (max-width:428px) {
       width: 166px;
       padding: 11.5px 14.5px;
       border: 1.7754px solid #A65E34;
       font-size: 12px;
    }
}