.button {
    display: inline-block;
    background-color: $color-bg-btn1;
    color: $color-text-btn;
    font-weight: 600;

    transition: background-color .2s ease-out, transform .1s ease-out;


    &--tel {
        padding: 11px 15px;
        font-size: 15px;
        line-height: 1.333;
        letter-spacing: 0.46px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 7px;

        &::after {
            content: "";
            display: block;
            width: 16.5px;
            height: 16px;
            background-image: url(/img/header/header-icons/tel.svg);
            background-repeat: no-repeat;
        }
    }

    &:hover {
        background-color: $color-bg-btn2;
    }

    &:active {
        transform: translateY(1px);
    }
}


.button__catalog {
    display: inline-block;
    padding: 17px 43px 18px 43px;
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: 0.410715px;
    background-color: transparent;
    color: $color-primary;
    border: 3.5px solid $color-primary;

    transition: background-color .1s ease-out, transform .1s ease-out, color .2s ease-out;

    &:hover {
        background-color: $color-bg-btn1;
        color: $color-text-btn;
    }

    &:active {
        transform: translateY(1px);
    }
}