.card-product {
    max-width: 360px;
    background: #E9E7E7;
    padding: 30px 26px 25px 26px;

    &__img {
        margin-bottom: 11px;
    }

    &__title {
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.31;
        text-align: center;
        letter-spacing: 0.147962px;
        text-transform: uppercase;
        color: $color-primary;
    }

    &__desc {
        margin-bottom: 17px;
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        p {
            font-weight: 600;
            font-size: 12px;
            line-height: 1.41;
            letter-spacing: 0.147962px;
            text-transform: uppercase;
            color: #7A7A7A;
        }
    }

    &__order {
        display: flex;
        align-items: center;
        column-gap: 19px;
    }

    &__price {
        font-weight: 700;
        font-size: 19px;
        line-height: 1.35;
        letter-spacing: 0.147962px;
        text-transform: uppercase;
        color: $color-primary;
    }
}