.form-order {
    &__label {
        display: block;
        margin-bottom: 12px;
    }

    &__input { 
        width: 361px;
        height: 87px;
        background: #FFFFFF;
        padding: 24px 21px; 
        font-size: 28px;
        line-height: 1.39;
        margin-right: 30px;
    }
}






