.founder {
    padding: 88px 0 190px;

    @media (max-width: 428px) {
        padding: 63px 0 70px;
    }
}

.founder__row {
    display: flex;
    align-items: center;

    @media (max-width: 428px) {
        flex-direction: column;
        
    }
}

.founder__text {
    max-width: 550px;
    position: relative;

}

.founder__desc {
    width: 594px;
    background: #F1F1F1;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15);
    padding: 40px 50px 50px 55px;

    position: absolute;
    top: 90px;
    left: -40px;

    @media (max-width: 428px) {
        width: 302px;
        padding: 15px 26px;
        top: -30px;
        left: -90px;
    }
    
    p {
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: 0.2px;
        color: $color5;

        @media (max-width: 428px) {
            font-size: 10px;
        }
    }
}

.founder__symbol {
    position: absolute;
    top: -295px;
    right: -20px;

    font-family: $font2;
    font-weight: 400;
    font-size: 314px;
    line-height: 357px;
    letter-spacing: 1.3969px;
    text-transform: uppercase;
    color: $color-primary;

    @media (max-width: 428px) {
        font-size: 160px;

        top: -240px;
        right: -10px;
    }

}

.founder__name {
    padding-top: 530px;
    margin-left: 56px;

    @media (max-width: 428px) {
        padding-top: 165px;
        margin-left: -90px;
    }

    p {
        font-weight: 800;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        color: $color5;
        margin-top: 5px;

        @media (max-width: 428px) {
            font-size: 12px;
        }
    }

    span {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        color: $color5;

        @media (max-width: 428px) {
            font-size: 10px;
        }
    }
}