.free-products {
    padding: 86px 0;
    color: $color1;

    background-blend-mode: multiply;
    background-color: rgba(32, 31, 31, 0.6);

    background-image: url(/img/free-products/free-product.jpg);
    background-repeat: no-repeat;
    background-position: center;
   

    @media (max-width: 428px) {
        padding: 64px 0 65px;
        background-image: url(/img/free-products/bg-mobile.jpg);
    }
   

    &__content {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;

        @media (max-width: 428px) {
            max-width: 345px;
        }
    }


    &__title {
        font-weight: 800;
        font-size: 45px;
        line-height: 1.35;
        text-align: center;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        margin-bottom: 22px;

        span {
            color: $color7;
        }

        @media (max-width: 428px) {
           font-size: 22px;
           margin-bottom: 6px;
        }
    }

    &__desc {
        margin-bottom: 65px;
        font-size: 23px;
        line-height: 1.347;
        text-align: center;
        letter-spacing: 0.2px;
        text-transform: uppercase;

        @media (max-width: 428px) {
            font-size: 10px;
            margin-bottom: 16px;
        }
    }
}





