.fade-block {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(47, 43, 43, 0.75);
    z-index: 1000;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    text-align: center;
    max-width: 462px;
    min-height: 350px;
    padding: 25px;

    background: #FFFFFF;
    box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.3);

    @media (max-width: 428px) {
        width: 362px;
        min-height: 300px;
        padding: 15px 34px;
        text-align: left;
    }

    &__heading {
        margin-bottom: 20px;

        @media (max-width: 428px) {
           margin-bottom: 15px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 1.36;
        color: $color-primary;
        margin-bottom: 10px;

        @media (max-width: 428px) {
           font-size: 18px;
           margin-bottom: 5px;
        }
    }

    &__desc {
        p {
            font-weight: 600;
            font-size: 22px;

            @media (max-width: 428px) {
                font-size: 15px;
            }
        }
    }
}

.card-tel {
    max-width: 400px;
    min-height: 250px;
    border-radius: 10px;
}

