.products-order {
    padding: 94px 0 121px;
    background: linear-gradient(90.24deg, #F0F1F6 60.32%, rgba(217, 217, 217, 0) 106.67%), 
    url(/img/product-order/bg.jpg) 780px 0 no-repeat;
   
    &__content {
        max-width: 755px;
    }

    &__heading {
        margin-bottom: 10px;
    }

    .products-order__title {
        font-family: $font2;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.13;
        letter-spacing: 1.04574px;
        text-transform: uppercase;
        color: $color-primary;
    }
}