.proposition {
    padding: 114px 0 200px;

    @media (max-width: 428px) {
        padding: 104px 0 110px;
    }

    &__heading {
        margin-bottom: 73px;

        @media (max-width: 428px) {
           margin-bottom: 53px;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 32px;
    }
}




