.products-guests__patern {
    position: relative;
    z-index: 10;

    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 20;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 18.2235px 45.5588px rgba(0, 0, 0, 0.1));
    }
}

.products-guests__patern--top {
    &::before {
        width: 423px;
        height: 447px;
        background-image: url(/img/products-guests/patern-1.png);
        top: -187px;
        left: -400px;
        
    }

    &::after {
        width: 599px;
        height: 728px;
        background-image: url(/img/products-guests/patern-2.png);
        top: -230px;
        right: -650px;
    }
}

.products-guests__patern--bottom {
    &::before {
        width: 517px;
        height: 412px;
        background-image: url(/img/products-guests/patern-3.png);
        bottom: -210px;
        left: -540px;
    }

    &::after {
        width: 523px;
        height: 430px;
        background-image: url(/img/products-guests/patern-4.png);
        top: -200px;
        right: -580px;
    }
}