.products-guests {
    padding: 88px 0 79px;
    background: #EAEAEB;
    width: 100%;

    @media (max-width: 428px) {
        padding: 82px 0 45px;
    }

    &__content {
        max-width: 945px;
        margin: 0 auto;
    }

    &__heading {
        text-align: center;
        margin-bottom: 33px;

        @media (max-width:428px) {
           margin-bottom: 17px;
        }
    
        p {
            font-family: $font1;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.2px;
            color: $color3;

            @media (max-width:428px) {
                max-width: 310px;
                font-size: 11px;
                margin: 0 auto;
            }
        }
    }

    &__title {
        max-width: 920px;
        font-weight: 800;
        font-size: 50px;
        line-height: 1.1;
        letter-spacing: 0.2px;
        color: #A65E34;
        margin-bottom: 29px;

        @media (max-width:428px) {
            font-size: 22px;
            margin-bottom: 10px;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

